;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Apr  1 12:04:56 2014
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring '("root" "\\.Color" "buil" "javafx"))
(setq register-alist '((114 file . "/home/archer/.emacs.d/starter-kit-registers.el") (98 file . "/home/archer/.emacs.d/starter-kit-bindings.el") (105 file . "/home/archer/.emacs.d/init.el")))
(setq file-name-history '("~/dev/timeTracking/build.gradle" "/home/archer/dev/timeTracking/src/main/groovy/timetracking/Main.groovy" "/home/archer/dev/timeTracking/src/main/groovy/dirs.groovy" "~/.ido.last" "~/dev/gutsal-arsen.github.io/cross-angular/deploy.sh" "~/.javadoc-help" "~/dev/gutsal-arsen.github.io/cross-angular/.gitignore" "~/dev/addressbook-angular.zip"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/archer/dev/timeTracking/build.gradle"
  "build.gradle"
  'groovy-mode
  '(abbrev-mode window-number-mode)
  292
  '(24 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/archer/dev/timeTracking/src/main/groovy/timetracking/Main.groovy"
  "Main.groovy"
  'groovy-mode
  '(abbrev-mode window-number-mode)
  1339
  '(1189 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

